<h1>Songs</h1>
<p><%= link_to 'New Song', new_song_path %></p>
<ul>
  <% @songs.each do |s| %>
    <li>
      <%= link_to s.title, s %>
      <% if s.singers.any? %> — <%= s.singers.map(&:name).join(", ") %><% end %>
    </li>
  <% end %>
</ul>
