<h1>Podcasts</h1>
<p><%= link_to 'New Podcast', new_podcast_path %></p>
<ul>
  <% @podcasts.each do |p| %>
    <li>
      <%= link_to p.title, p %>
      <% if p.hosts.any? %> — <%= p.hosts.map(&:name).join(", ") %><% end %>
    </li>
  <% end %>
</ul>
